* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  width: 1000px;
  margin: auto;
  min-height: 100vh;
}
.news__publications {
  padding: 15px 0 0 0;
}
.news__loader {
  margin: 100px auto 0 auto;
}
